<footer class="page-footer font-small bg-light pt-4">

    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank" class="icoLink">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="icoInsta">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://github.com/julianarpaz" target="_blank" class="icoGithub">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="col d-flex justify-content-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum accusantium molestias id ad dolores labore nemo eaque, fugit deserunt veniam architecto ipsa necessitatibus? Quia voluptas impedit recusandae amet consequuntur consectetur?</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet totam quisquam incidunt recusandae, itaque quis nobis, sequi temporibus quas ab esse provident. Facere rerum tempore earum sunt qui cumque culpa!</p>
            </div>
        </div>
    </div>
</footer>
