<nav class="navbar navbar-expand-lg bg-inverno">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
                <img src="https://i.imgur.com/WyaqWG2.png" alt="logo compravisse" width="100px" height="100px" class="img-fluid pt-2 pb-2">
            </li>            
        </ul>
    
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a href="">
                  <p class="text-color-outono m-0">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </p>
                </a> 
            </li>            
            <li class="nav-item pl-3 fs-10">
                <p class="text-center">
                    Faça <a routerLink="/login">Login</a><br>              
                    ou <a routerLink="/cadastrar">Cadastre-se</a>
                </p>                
            </li>              
            <li class="nav-item pl-4">
              <a href="">
                <p class="text-color-outono m-0">
                    <i class="fa fa-shopping-cart fs-16" aria-hidden="true"></i>
                </p>
              </a> 
            </li>
                            
        </ul>  
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
           
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item pl-5">
          <a class="nav-link" href="#">MASCULINO</a>
        </li>
        <li class="nav-item pl-5">
          <a class="nav-link" href="#">FEMININO</a>
        </li>
        <li class="nav-item pl-5">
          <a class="nav-link" href="#">INFANTIL</a>
        </li>
        <li class="nav-item pl-5">
            <a class="nav-link" href="#">SALDÃO</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-dark bg-outono my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
      
    </div>
      
    
  </nav>

