<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12">

            <div class="row d-flex justify-content-center">
                <div class="col-md-4">

                <img src="" alt="LOGO AQUI">

                    <h1 class="text-center mb-8">Acesse a sua conta</h1>

                    <div class="text-center">
                        <a href="">Entrar com o Facebook</a>
                        <br>
                        <a href="">Entrar com o Google</a>
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="text" name="email" 
                        id="email">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" 
                        id="senha">
                    </div>

                    <p class="text-right">
                    <a href="">Esqueceu sua senha?</a>
                    </p>

                    <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>