<link rel="icon" type="image/x-icon" href="favicon.ico">
<div class="container-fluid">
    <div class="col-md-12 d-flex flex-column justify-content-center"id="fonte-text">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">

                <div class="img-fluid align-items-center" >
                  <img src="/assets/img/logo-Marca.png" alt="Logo" width="100px" height="100px">

                    <p class="text-center">Crie a sua conta. É grátis!</p>
                </div>
                <div class="d-flex justify-content-around">
                    
                    <button class="btn btn-outline-danger w-50"> <i class="fa fa-facebook" aria-hidden="true"></i> Entrar com o Facebook</button>
                </div>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-danger w-50">Entrar com o Google</button>
                </div>
                <form>
                    <div class="form-group">
                        <label for="">Nome</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Senha</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Confirmar senha</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-outline-danger w-50">Cadastrar</button>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <label for="">Já tem uma conta?<a routerLink="/entrar"> Entrar</a></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>